@import '../../../styles/colors';

.main {
    padding: 14em 0em;
    min-height: 70vh;
    @media(max-width:1199px){
        padding: 12em 0em;
    }
    @media(max-width:991px){
        padding: 11em 0em;
    }
    @media(max-width:767px){
        padding: 10em 0em;
    }
    @media(max-width:450px){
        padding: 8em 0em;
    }
}