@import "../../../styles/colors";

        .item-img {
            width: 70%;
            background-color: $primary-color;
        }

        .add-btn {
            border: none;
            padding: 0.6em;
            margin: 1em 0em 0.4em;
            border-radius: 8px;
            transition: 0.3s;
            background-color: #fff;
        }

        .add-btn:hover {
            background-color: $secondary-color;
            transform: scale(1.1);
        }

        .item-data {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 1em 0.5em;
            color: #fff;
            background-color: $background-item;

            .item-name {
                margin-bottom: 1em;
            }
        }
    
