.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 3em;
}

.img-box {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em;

	.link {
		transition: transform 0.2s;
	}
	.link:hover {
		transform: scale(1.05);
	}
	.img-text {
		position: relative;
		height: 100%;
		.category-img {
			height: 450px;
			width: 350px;
		}
	}
	.img-shadow {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 23%;
		bottom: 3px;
		background-color: #10101079;
		z-index: 1;
	}
	p {
		color: aliceblue;
		font-size: 1.6rem;
	}
}

@media (max-width: 1200px) {
	.img-box {
		.img-text {
			.category-img {
				height: 100%;
				width: 100%;
			}
		}
		.img-shadow {
			bottom: 0;
		}
	}
}

@media (max-width: 768px) {
	.img-box {
		grid-template-columns: repeat(1, 1fr);
		gap: 1em;

		.img-text {
			display: flex;
			justify-content: center;
			.category-img {
				width: 90%;
				height: 100%;
			}
		}
		.img-shadow {
			width: 90%;
		}
	}
}
