@import "../../../../styles/colors"; 

.button{
    max-width: 135px;
    width: 100%;
    padding: 0.8em;
    margin-top: 1em;
    font-size: 1.1rem;
    border-radius: 8px;
    background-color: $secondary-color;
    border: 1px solid rgb(102, 98, 13);
    box-shadow: 1px 1px 1px 1px rgba(69, 57, 27, 0.517);
    cursor: pointer;
    transition: .3s;
}

.button:hover{
	transform: scale(0.95);
}

