@import './colors';

@keyframes toggleMobileNav {
    0% {
        transform: translateX(-100%);
        opacity: 0; 
    }
    100% {
        transform: translateX(0%); 
        opacity: 1; 
    }
}


@keyframes closeMobileNav {
    0% {
        transform: translateX(0); 
        opacity: 1; 
		
    }
    100% {
        transform: translateX(-100%); 
        opacity: 0; 
		
    }
}


@keyframes slideToRight{
    0%{
         opacity: 0;
       transform: translateX(-50%);
    }
    100%{
         opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes slideToLeft{
    0%{
         opacity: 0;
       transform: translateX(50%);
    }
    100%{
         opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes slideToTop{
    0%{
         opacity: 0;
       transform: translateY(50%);
    }
    100%{
         opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes flipCategoriesImg {

    0% {
        transform: scaleX(-1);
      }
      100% {
        transform: scaleX(1); 
      }

}


@keyframes resizeCounter {
    0% {
        transform: scale(1.8);
      }
      100% {
        transform: scaleX(1); 
      }
}