.navbar__container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.225);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 57%;

    .shopping-cart-btn {
        position: relative;
        padding: 1em;
        background-color: transparent;
        border: none;

        .counter{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            right: 0;
            top: 25px;
            border-radius: 50%;
            background-color: royalblue;
            p{
                color: #fff;
                font-size: .7rem;
            }
        }
    }
    .shopping-cart-btn:hover {
        background-color: gray;
    }
    .shopping-cart-btn:hover .icon {
        color: rgba(255, 255, 255, 0.896);
    }

    &__categories {
        display: flex;
        width: 30%;
        margin-left: 3em;
        cursor: pointer;

        button {
            border: none;
            padding: 0 1em;
            background-color: transparent;
            cursor: pointer;
        }
        button:hover {
            background-color: rgba(0, 0, 0, 0.42);
            color: rgba(255, 255, 255, 0.896);
        }

        .active{
            border-bottom: 1px solid black;
        }
    }

    .logo {
        margin-right: .2em;
        width: 30px;
    }

    .logo-box{
        display: flex;
        justify-content: center;
        align-items: end;
    }

    button {
        cursor: pointer;
    }

    .icon {
        color: #000000c3;
    }
    .icon:hover {
        color: #fff;
    }

    .icons-box {
        margin-right: 2em;
    }
}