.cart-shadow {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: #333333bc;
}

.shoppingCart {
	position: relative;
    width: 65%;
	height: 80%;
	padding: 1.5em;
    margin: 6em auto;
	border-radius: 8px;
	text-align: center;
	background-color: rgb(214, 214, 214);
	z-index: 10;

	.header {
		position: relative;
		display: flex;
		align-items: center;
		margin-bottom: 1em;

		.close-btn {
			right: -2em;
			top: -2em;
			position: absolute;
			background-color: transparent;
			border: none;
			margin-left: 1em;
		}
	}

	.cart-items {
        display: flex;
        flex-direction: column;
		overflow-y: scroll;
		max-height: 77%;
		.cart-item {
			display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #fff;
			margin-bottom: 1em;

			h4{
				font-weight: normal;
				margin-bottom: .4em;
			}
			
			.cart-img {
				width: 25%;
			}

			.remove-btn {
				background-color: transparent;
				border: none;
				padding: 1em;
			}


            .item-number{
                min-width: 45px;
                width: 10%;
            }
		}


        .checkout-btn{
            align-self: center;
        }
	}

	.total-price{
		margin: 1.2em 0em .7em;

		span{
			font-weight: bold;
		}
	}
}
