@import '../../../styles/colors';
@import '../../../styles/animations';

.navbar-container {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-bottom: 9em;
	min-height: 11vh;
	z-index: 0;
	background-color: #1c1c1cf2;
	z-index: 10;


	.wave {
		position: absolute;
		bottom: -30px;
		left: 0;
		width: 100%;
		transform: rotate(180deg);
	}

	.wave svg {
		position: relative;
		display: block;
		width: calc(100% + 1.3px);
		height: 30px;
	}

	.icons-box {
		align-self: center;
	}
}

.logo {
	margin-right: 0.3em;
	margin-top: 0.1em;
	width: 38px;
	height: 50px;
}

.logo-box {
	margin-right: 13em;
	display: flex;
	align-items: center;
	a {
		display: flex;
		align-items: center;
		color: #fff;
		text-decoration: none;
	}

	.title {
		margin-top: 0.2em;
		letter-spacing: 0.1em;
	}
}

.shopping-cart-btn {
	position: relative;
	padding: 1.8em;
	background-color: transparent;
	border: none;
	cursor: pointer;

	.counter {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 20px;
		min-height: 20px;
		right: 10px;
		top: 35px;
		border-radius: 50%;
		background-color: $secondary-color;
		border: 1px solid rgb(22, 22, 22);
		p {
			font-size: 0.7rem;
		}
	}
}

.resize-couner {
	animation: resizeCounter 1s;
}

.shopping-cart-btn:hover .icon {
	color: $secondary-color;
}

.navbar-categories {
	display: flex;
	cursor: pointer;
	font-size: 1.2rem;
	.active {
		color: $secondary-color;
	}
}
.category-link {
	display: flex;
	align-items: center;
	padding: 0 1em;
	color: #fff;
	text-decoration: none;
}
.category-link:hover {
	color: $secondary-color;
}

.icon {
	color: #fff;
}

.icon:hover {
	color: $secondary-color;
}

.burgerBtn {
	display: none;
	color: #fff;
}

@media (min-width: 1200px) {
	.navbar-categories {
		margin-left: 4em;
	}
	.icons-box {
		align-self: center;
		margin-right: 4em;
	}
}

@media (max-width: 1200px) {
	.navbar-categories {
		margin-left: 1em;
	}
	.logo-box {
		margin-right: 10em;
	}
	.category-link {
		padding: 0 0.5em;
	}
}

@media (max-width: 992px) {
	.navbar-container {
		position: fixed;
		top: 0;
		width: 100%;
		align-items: center;
	}
	.burgerBtn {
		display: block;
		width: 20%;
		cursor: pointer;
	}

	.logo-box {
		margin-right: 2em;
	}

	.navbar-categories {
		display: none;
	}
}

@media (max-width: 768px) {
	.logo-box {
		margin-right: 0em;
	}

	.title {
		font-size: 1.5rem;
	}
}

@media (max-width: 576px) {
	.navbar-container {
		.wave {
			bottom: -20px;
		}
		.wave svg {
			height: 20px;
		}
	}

	.shopping-cart-btn {
		padding: 1.5em 1.3em;
	}
}

@media (max-width: 450px) {
	.navbar-container {
		margin-bottom: 6em;

		.wave {
			bottom: -10px;
		}
		.wave svg {
			height: 10px;
		}
	}

	.icon {
		width: 19px;
	}
	.logo {
		display: none;
	}
	.logo-box {
		margin-left: 1em;
	}
	.shopping-cart-btn {
		padding: 1.3em 1.05em;
	}
}

@media (max-width: 370px) {
	.title {
		font-size: 1.2rem;
		margin-right: -12px;
	}
	.shopping-cart-btn {
		padding: 1.5em 0.9em;
	}
}
