@import '../../../styles/colors';

.navbar__container {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgba(0, 0, 0, 0.225);
	z-index: 0;
}

.logo {
	margin-right: 0.2em;
	width: 33px;
}

.logo-box {
	display: flex;
	align-items: center;
	margin-right: 8em;

	h2 {
		margin-top: 0.2em;
		font-size: 1.7rem;
		text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.241);
	}
}

.shopping-cart-btn {
	position: relative;
	padding: 1.8em;
	background-color: transparent;
	border: none;

	.counter {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 20px;
		min-height: 20px;
		right: 10px;
		top: 35px;
		border-radius: 50%;
		background-color: $secondary-color;
		p {
			color: #fff;
			font-size: 0.7rem;
		}
	}
}
.shopping-cart-btn:hover {
	background-color: $background-item;
}
.shopping-cart-btn:hover .icon {
	color: rgba(255, 255, 255, 0.896);
}

.navbar__categories {
	display: flex;
	cursor: pointer;
	.active {
		border-bottom: 3px solid $secondary-color;
	}
}
.category-btn {
	font-size: 1rem;
	border: none;
	padding: 0 1em;
	background-color: transparent;
	cursor: pointer;
}
.category-btn:hover {
	background-color: $background-item;
	color: rgba(255, 255, 255, 0.896);
}

.icon {
	color: #000000c3;
}
.icon:hover {
	color: #fff;
}

.icons-box {
	display: flex;
	align-items: center;
	z-index: 0;
}

.burgerBtn {
	display: none;
}

@media (max-width: 992px) {
	.navbar__container {
		align-items: center;
	}
	.burgerBtn {
		display: block;
		width: 20%;
		cursor: pointer;
	}

	.logo-box {
		margin-right: 0;
	}

	.navbar__categories {
		display: none;
	}
}

@media (max-width: 576px) {
	.shopping-cart-btn{
		padding: 1.4em 1em;
	}
}

@media (max-width: 450px) {
	.shopping-cart-btn {
		padding: 1.4em .6em;
	}
	.icon {
		width: 20px;
	}
	.logo {
		display: none;
	}
	.logo-box {
		h2 {
			font-size: 1.2rem;
		}
	}
}
