@import "../../../colors";

.navbar__container {
    display: flex;
    justify-content: space-between;
    line-height: 65px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.225);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 57%;

    .shopping-cart-btn {
        position: relative;
        padding: 1.8em;
        background-color: transparent;
        border: none;

        .counter{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            right: 10px;
            top: 35px;
            border-radius: 50%;
            background-color: $secondary-color;
            p{
                color: #fff;
                font-size: .7rem;
            }
        }
    }
    .shopping-cart-btn:hover {
        background-color: $background-item;
    }
    .shopping-cart-btn:hover .icon {
        color: rgba(255, 255, 255, 0.896);
    }

    &__categories {
        display: flex;
        width: 30%;
        margin-left: 3em;
        cursor: pointer;

        button {
            font-size: 1rem;
            border: none;
            padding: 0 1em;
            background-color: transparent;
            cursor: pointer;
        }
        button:hover {
            background-color: $background-item;
            color: rgba(255, 255, 255, 0.896);
        }

        .active{
            border-bottom: 3px solid $secondary-color;
        }
    }

    .logo {
        margin-right: .2em;
        width: 33px;
    }

    .logo-box{
        display: flex;
        justify-content: center;
        align-items: center;

        h2{
            margin-top: 0.2em;
            font-size: 1.7rem;
            text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.241);
        }
    }

    button {
        cursor: pointer;
    }

    .icon {
        color: #000000c3;
    }
    .icon:hover {
        color: #fff;
    }

    .icons-box {
        margin-right: 2em;
    }
}