@import './styles/colors';



.fullWidthContainer {
	width: 100%;
	background-color: #f8f7f7;
}

.container {
	position: relative;
	// max-width: 1440px;
	margin: 0 auto;
}

.app {
	background-color: $primary-color;
}
